.searchBox{
    display: flex;
    flex-direction: row;
    border:1px solid grey;
}

.inputBox{
    border: none;
}

.inputBox:focus{
    border:none;
    outline: none;
}

.findButton:focus{
    border:none;
    outline: none;
}

.findButton:hover{
    border:none;
}